# Environnement virtuel
venv/
env/
.venv/

# PyInstaller / Build
build/
dist/
*.spec

# Cache Python
__pycache__/
*.pyc

# Fichiers temporaires générés par l'application
temp_ceph_render.png
*.log

# Fichiers d'environnement / clés (si existants)
.env